body{
    margin: 0;
    padding: 0px;
}
/* Header Section Style */
header{
    display: none;
}

/* Main Content Section Style */
#section-container{
    width: auto;
    background: url("../images/background.png");
    border-top: 3px solid #CCCCCC;
    border-bottom: 10px solid #4AAAA5;
}
section{
    width: auto;
    width: 960px;
    height: 750px;
    display: block;
    margin: auto;
    padding: 10px 0px;
}
#section-content{
    margin: 2.5% auto;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    padding: 15px 0px;
}
h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4AAAA5;
    padding: 5px 35px ;
    width: 90%;
    font-size: 25pt;
}
hr{
    width: 93%;
    background-color: #CCCCCC;
    height: 4px;
    border: none;
}
#profile-photo{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 1.5% 0% 1.5% 5%;
    border-radius: 50%;
    border: 5px solid #4AAAA5;
}

    /* section style for index.html */
    #short-intro{
        font-size: 30pt;
        font-weight: bold;
        color: #999999;
        float: right;
        width: 60%;
        margin: 2% 5% 0% 0%;
    }
    #short-intro span{
        color: #4AAAA5;
        font-weight: bold;
    }
    .fa-canadian-maple-leaf{
        color: red;
    }
    #about-me-content{
        margin: auto;
        width: 95%;
    }
    #about-me-content p {
        width: auto;
    }




@media screen and (max-width: 640px){
    /* Main Content Section Style */
    #section-container{
        width: 100%;   
        margin: 0px;
    }
    section{
        width: 95%;
        height: 100%;
        /* display: block; */
        /* margin: auto; */
    }
    #section-content{
        margin: 2.5% 0px;
    }
    #profile-photo{
        width: 300px;
        height: 300px;
        display: block;
        margin: 5% auto;
    }

        /* section style for index.html */
        #short-intro{
            font-size: 25pt;
            text-align: center;
            width: 100%;
            /* display: block; */
            margin: auto 0px;
        }
        #about-me-content{
            width: 90%;
        }
}